---
import AccordionItem from './AccordionItem.astro';
import content from '/src/data/menu.json' assert { type: "json" };


const coverImageBySection = {
  "Beverages": "/cover/CoverBeverages.png",
  "All Day Breakfast": "/cover/CoverBreakfast.png",
  "Shakes and Dessert": "/cover/CoverDessert.png",
  "Kerabu": "/cover/CoverKerabu.png",
  "Lala": "/cover/CoverLala.png",
  "Rice and Noodles": "/cover/CoverRice.png",
  "Sayur": "/cover/CoverSayur.png",
  "Siakap": "/cover/CoverSiakap.png",
  "Snacks and Western": "/cover/CoverSnacks.png"
};

const itemImageByName = {
  "Kerabu Daging": "/items/KerabuDaging.png",
  "Kerabu Ikan Bilis": "/items/KerabuIkanBilis.png",
  "Kerabu Udang": "/items/KerabuUdang.png",
  "Kerabu Sohun": "/items/KerabuSohun.png",
  "Kerabu Telur Masin": "/items/KerabuTelurMasin.png",
  "Kerabu Sotong Udang": "/items/KerabuSotongUdang.png",
  "Lala Goreng Pedas": "/items/LalaGorengPedas.png",
  "Lala Kicap": "/items/LalaKicap.png",
  "Lala Sambal": "/items/LalaSambal.png",
  "Lala Masak Lemak Cili": "/items/LalaMasakLemakCili.png",
  "Lala Serai": "/items/LalaSerai.png",
  "Lala Serei Rebus": "/items/LalaSereiRebus.png",
  "Siakap 3 Rasa": "/items/Siakap3Rasa.png",
  "Siakap Beradab": "/items/SiakapBeradab.png",
  "Siakap Curry": "/items/SiakapCurry.png",
  "Siakap Stim": "/items/SiakapStim.png",
  "Siakap Sweet Sour": "/items/SiakapSweetSour.png",
  "Bendi": "/items/Bendi.png",
  "Terung": "/items/Terung.png",
  "Kailan": "/items/Kailan.png",
  "Kacang Panjang": "/items/KacangPanjang.png",
  "Kacang Buncis": "/items/KacangBuncispng.png",
  "Bawang Putih": "/items/BawangPutih.png"
};
---

<div class="space-y-4">
  {content.map((item, index) => (
    <AccordionItem
      index={index}
      title={item.title}
      description={item.description}
      items={item.items}
     coverImage={coverImageBySection[item.title]}
       itemImageByName={itemImageByName}
    />
  ))}
</div>