---
import AccordionItem from './AccordionItem.astro';
import menu from '/src/data/menu.ts';
import type { MenuEntry } from '/src/data/menu.ts';


const coverImageBySection = {
  "Beverages": "/cover/CoverBeverages.png",
  "All Day Breakfast": "/cover/CoverBreakfast.png",
  "Shakes and Dessert": "/cover/CoverDessert.png",
  "Kerabu": "/cover/CoverKerabu.png",
  "Lala": "/cover/CoverLala.png",
  "Rice and Noodles": "/cover/CoverRice.png",
  "Sayur": "/cover/CoverSayur.png",
  "Siakap": "/cover/CoverSiakap.png",
  "Snacks and Western": "/cover/CoverSnacks.png"
};

const itemImageByName = {
  "Kerabu Daging": "/items/KerabuDaging.png",
  "Kerabu Ikan Bilis": "/items/KerabuIkanBilis.png",
  "Kerabu Udang": "/items/KerabuUdang.png",
  "Kerabu Sohum": "/items/KerabuSohun.png",
  "Kerabu Telur Masin": "/items/KerabuTelurMasin.png",
  "Kerabu Sotong dan Udang": "/items/KerabuSotongUdang.png",
  "Lala Goreng Pedas": "/items/LalaGorengPedas.png",
  "Lala Goreng Kicap": "/items/LalaKicap.png",
  "Lala Goreng Sambal": "/items/LalaSambal.png",
  "Lala Masak Lemak Cili Api": "/items/LalaMasakLemakCili.png",
  "Lala Goreng Serai": "/items/LalaSerai.png",
  "Lala Serai (Rebus)": "/items/LalaSereiRebus.png",
  "3 Rasa": "/items/Siakap3Rasa.png",
  "Beradab": "/items/SiakapBeradab.png",
  "Curry": "/items/SiakapCurry.png",
  "Stim": "/items/SiakapStim.png",
  "Sweet Sour": "/items/SiakapSweetSour.png",
  "Bendi Goreng Belacan": "/items/Bendi.png",
  "Terung Goreng Belacan": "/items/Terung.png",
  "Kailan Ikan Masin": "/items/Kailan.png",
  "Kacang Panjang Goreng Kicap": "/items/KacangPanjang.png",
  "Kacang Buncis Telur / Belacan": "/items/KacangBuncispng.png",
  "Goreng Bawang Putih": "/items/BawangPutih.png"
};
---

<div class="space-y-4">
{(menu as MenuEntry[]).map((item, index) => (
  <AccordionItem
    index={index}
    title={item.title}
    description={item.description}
    items={item.items}
    coverImage={coverImageBySection[item.title]}
    itemImageByName={itemImageByName}
  />
))}
</div>