---
import AccordionItem from './AccordionItem.astro';
import content from '/src/data/menu.json' assert { type: "json" };


const coverImageBySection = {
  "Beverages": "/cover/CoverBeverages.png",
  "All Day Breakfast": "/cover/CoverBreakfast.png",
  "Shakes and Dessert": "/cover/CoverDessert.png",
  "Kerabu": "/cover/CoverKerabu.png",
  "Lala": "/cover/CoverLala.png",
  "Rice and Noodles": "/cover/CoverRice.png",
  "Sayur": "/cover/CoverSayur.png",
  "Siakap": "/cover/CoverSiakap.png",
  "Snacks and Western": "/cover/CoverSnacks.png"
};
---

<div class="space-y-4">
  {content.map((item, index) => (
    <AccordionItem
      index={index}
      title={item.title}
      description={item.description}
      items={item.items}
     coverImage={coverImageBySection[item.title]}
    />
  ))}
</div>