---
import AccordionItem from './AccordionItem.astro';
import menu from '../../data/menu.ts';
import type { MenuEntry } from '../../data/menu.ts';
import { coverImageBySection, itemImageByName } from '../../data/imageMap.ts';


---

<div class="space-y-4">
  {(menu as MenuEntry[]).map((item, index) => (
   <AccordionItem
  index={index}
  title={item.title}
  description={item.description}
  items={item.items}
  coverImage={coverImageBySection[item.title] ?? ""}
  itemImageByName={itemImageByName}
/>
  ))}
</div>